@font-face {
	font-family: "guardian_egypt";
	font-weight: normal;
	src: url("fonts/guardian_egypt.woff")
		format("woff");
}
@font-face {
	font-family: "guardian_egypt";
	font-weight: bold;
	src: url("fonts/guardian_egypt_bold.woff")
		format("woff");
}

body {
	background: #efefeb;
	color: #333;
	font: 14px "Arial", "Helvetica", sans-serif;
	margin: 0;
	min-width: 1030px;
}
a, img {
	border: none;
	color: inherit;
	text-decoration: none;
}
ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
h4 {
	font-family: "guardian_egypt", Georgia, serif;
	line-height: 1em;
	margin: 0;
}
h2 {
	color: #333;
	font-size: 32px;
}
h3 {
	color: #333;
	font-size: 24px;
}
h4 {
	color: #888;
	font-size: 18px;
	font-weight: normal;
}
.wrap {
	margin: 0 auto;
	width: 980px;
}
.button {
	background: #4fa9c6;
	border: 1px solid;
	border-color: #54acc7 #4ca0ba #398a9d;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	padding: 7px 15px 8px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
}
#header {
	border-bottom: 1px solid #d2d2d2;
	height: 62px;
	overflow: hidden;
	padding-top: 32px;
	width: 100%;
}
#header form {
	float: left;
	margin-left: 130px;
}
#header form input {
	border: 1px solid #d2d2d2;
	border-radius: 5px 0 0 5px;
	float: left;
	font-size: 16px;
	margin: 0;
	padding: 7px 10px;
	width: 380px;
}
#header form button {
	background: #f2f3f3;
	border: 1px solid;
	border-left: 0;
	border-color: #d8d5d2 #cfcbc8 #c4c0bc;
	border-radius: 0 5px 5px 0;
	color: #7d7773;
	float: left;
	font-size: 15px;
	font-weight: bold;
	margin: 0;
	padding: 7px 15px 8px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
}
#header .logo {
	margin: -5px 14px 0 0;
	float: left;
}
#header .user-links {
	color: #666;
	float: right;
	padding: 7px 0 7px 10px;
}
#header .user-links li {
	display: inline-block;
	margin-right: 12px;
}
#header .user-links li + li {
	border-left: 1px solid #b0b0af;
	margin-right: 0;
	padding-left: 12px;
}
#header .user-links .cart span {
	background: #78c042;
	color: #fff;
	font-size: 12px;
	line-height: 10px;
	margin-left: 8px;
	padding: 2px 5px;
}
#nav {
	background: #fff;
	border-bottom: 1px solid #d2d2d2;
}
#nav li {
	display: inline-block;
}
#nav li:first-child {
	margin-left: -25px;
}
#nav li a {
	color: #0192b5;
	display: block;
	font-weight: bold;
	padding: 20px 25px;
}
#nav li a:hover {
	background: #f5f5f1;
}
#splash {
	background: #ddd url(placeholders/splash/splash_1.jpg) center center;
	background-size: cover;
	overflow: hidden;
}
#splash header {
	height: 300px;
}
#splash h1 {
	color: #fff;
	font: 42px "guardian_egypt", "Georgia", serif;
	margin: 0;
	padding-top: 100px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	width: 560px;
}
#splash .overlay {
	background: #000;
	background-color: rgba(0, 0, 0, .4);
	height: 100px;
}
#splash .avatar {
	float: left;
	margin-top: 20px;
	margin-right: 10px;
}
#splash .avatar img {
	border-radius: 60px;
}
#splash .info {
	color: #fff;
	float: left;
	font: bold 14px "guardian_egypt", "Georgia", serif;
	line-height: 21px;
	margin-top: 28px;
}
#splash .info em {
	font-weight: normal;
	padding-right: 3px;
}
#splash .thumbnails {
	float: right;
	margin-top: 9px;
}
#splash .thumbnails li {
	background: #000;
	border: 3px solid #fff;
	border-radius: 3px;
	float: left;
}
#splash .thumbnails li + li {
	margin-left: 8px;
}
#splash .thumbnails img {
	display: block;
}
#splash .thumbnails a:hover img {
	opacity: .92;
}
#splash .thumbnails .count {
	background: #fff;
	color: #999;
	font-size: 12px;
	text-align: center;
}
#splash .thumbnails .count a {
	display: block;
	height: 75px;
	width: 75px;
}
#splash .thumbnails .count a:hover {
	background: #cce9f0;
}
#splash .thumbnails .count span {
	color: #0192b5;
	display: block;
	padding-top: 16px;
	font-size: 24px;
}
#marketplace {
	background: #fff;
	overflow: hidden;
	padding: 50px 0 60px;
}
#marketplace h2 {
	margin-bottom: 32px;
	text-align: center;
}
#marketplace a:hover .title {
	text-decoration: underline;
}
#marketplace li {
	background: #fff;
	border: 1px solid #e4e4e2;
	border-radius: 3px;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1);
	float: left;
	padding: 1px;
	width: 306px;
}
#marketplace li:hover {
	border-color: #ccc;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .12);
}
#marketplace li + li {
	margin-left: 25px;
}
#marketplace .thumbnails {
	overflow: hidden;
}
#marketplace .thumbnails img {
	border: 1px solid #fff;
	float: left;
}
#marketplace .bottom {
	overflow: hidden;
	padding: 12px;
}
#marketplace  .title {
	float: left;
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
}
#marketplace .arrow {
	background: url(img/arrow.png) no-repeat;
	float: right;
	height: 22px;
	width: 22px;
}
#favs {
	color: #666;
	font-size: 12px;
	overflow: hidden;
	padding: 50px 0 60px;
}
#favs header {
	margin-bottom: 20px;
	text-align: center;
}
#favs header h4 {
	line-height: 40px;
}
#favs li {
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1);
	float: left;
}
#favs li + li {
	margin-left: 30px;
}
#favs img {
	display: block;
}
#favs .product {
	background: #fff;
	border: 4px solid #fff;
	border-bottom: 0;
	border-radius: 3px 3px 0 0;
	display: block;
	line-height: 16px;
	overflow: hidden;
}
#favs .product:hover .title {
	text-decoration: underline;
}
#favs .title {
	float: left;
	line-height: 18px;
	padding: 7px 6px 5px;
	text-overflow: ellipsis;
	width: 210px;
}
#favs .price {
	color: #78c042;
	float: right;
	font-size: 13px;
	padding: 6px;
}
#favs .price small {
	font-size: 10px;
}
#favs .about {
	background: #fbfbf8;
	border-top: 1px solid #ddd;
	border-radius: 0 0 3px 3px;
	display: block;
	overflow: hidden;
	padding: 15px 8px;
}
#favs .about:hover {
	background: #e5f4f7;
}
#favs .avatar {
	float: left;
	margin-right: 10px;
}
#favs .avatar img {
	border-radius: 50px;
}
#favs .info {
	color: #333;
	float: left;
	font: bold 14px "guardian_egypt", "Georgia", serif;
	margin-top: 6px;
}
#favs .info em {
	font-weight: normal;
	padding-right: 2px;
}
#inspiration {
	background: #fff;
	padding: 50px 0 60px;
}
#inspiration a:hover .title {
	text-decoration: underline;
}
#inspiration header {
	margin-bottom: 30px;
	text-align: center;
}
#inspiration header h4 {
	line-height: 40px;
}
#inspiration li {
	background: #fff;
	border: 1px solid #e4e4e2;
	border-radius: 3px;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1);
	float: left;
	margin-left: 1px;
	position: relative;
	width: 226px;
}
#inspiration li:hover {
	border-color: #ddd;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .12);
}
#inspiration li:hover .avatar {
	top: -26px;
}
#inspiration li:hover .avatar span {
	opacity: 1;
}
#inspiration li + li {
	margin-left: 22px;
}
#inspiration .favs {
	height: 240px;
}
#inspiration .avatar {
	position: absolute;
	top: -13px;
	left: 8px;
	transition: top .2s;
}
#inspiration .avatar span {
	color: #666;
	float: left;
	font-size: 12px; 
	margin: 6px 0 0 10px; 
	opacity: 0;
	transition: opacity .2s;
}
#inspiration .avatar span a {
	color: #0192b5;
	font-weight: bold;
}
#inspiration .avatar span a:hover {
	text-decoration: underline;
}
#inspiration .image {
	background: #fff;	
	border-radius: 50%;
	float: left;
	padding: 2px;
}
#inspiration .image img {
	border-radius: 50%;
	display: block;
}
#inspiration .thumbnails img {
	float: left;
	margin: 0 2px 2px 0;
}
#inspiration .thumbnails img:nth-child(even) {
	margin-right: 0;
}
#inspiration .bottom {
	overflow: hidden;
	padding: 10px 12px;
}
#inspiration .arrow {
	background: url(img/arrow.png) no-repeat;
	float: right;
	height: 22px;
	margin: 6px -2px 0 0;
	width: 22px;
}
#inspiration .title {
	float: left;
	font-size: 14px;
	font-weight: bold;
	width: 160px;
}
#inspiration .title span {
	clear: both;
	color: #999;
	float: left;
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	text-decoration: none;
}
#inspiration .browse {
	background: #e5f4f7;
	border: 1px solid #cce9f0;
	border-radius: 5px;
	margin-top: 30px;
	padding: 25px 0 30px;
	text-align: center;
}
#inspiration .browse:hover {
	background: #cce9f0;
	border-color: #99d3e1;
}
#inspiration .browse:hover .button {
	background: #3f98bb;
}
#inspiration .browse h3 {
	margin-bottom: 20px;
}
#trust {
	padding: 50px 0 60px;
	overflow: hidden;
}
#trust h3 {
	font-size: 26px;
	line-height: 32px;
	margin-bottom: 12px;
	text-shadow: 0 2px 1px rgba(255, 255, 255, .8);
}
#trust h4 {
	line-height: 28px;
}
#trust img {
	margin-bottom: 20px;
}
#trust .item {
	float: left;
	text-align: center;
	width: 308px;
}
#trust .item + .item {
	margin-left: 28px;
}
#subscribe {
	background-color: #d7d7d1;
	background-image: url(img/texture.png), url(img/subscribe_ribbon.png);
	background-repeat: repeat, no-repeat;
	background-position: 0 0, 0 center;
	border: 1px solid #d2d2d2;
	border-radius: 3px;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, .1);
	margin-bottom: 60px;
	padding: 30px 0;
}
#subscribe h4 {
	color: #333;
	font-size: 21px;
	font-weight: bold;
	line-height: 28px;
	margin-bottom: 8px;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
}
#subscribe form {
	text-align: center;	
}
#subscribe form input[type=text] {
	border: 1px solid;
	border-color: #b3b3b3 #ccc #ccc #b3b3b3;
	border-radius: 5px;
	font-size: 16px;
	margin: 0;
	margin-right: 10px;
	padding: 7px 10px;
	width: 250px;
}
#subscribe form .button {
	margin: 0;
	padding-bottom: 7px;
}
#footer {
	border-top: 1px solid #d2d2d2;
	color: #666;
	font-size: 11px;
	margin-bottom: 20px;
	overflow: hidden;
	padding-top: 8px;
}
#footer a:hover {
	text-decoration: underline;
}
#footer .copyright {
	float: left;
}
#footer .links {
	float: right;
}
#footer .links li {
	display: inline;
	margin-left: 12px;
}
