@font-face {
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/icon.woff)
       format('woff');
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/pn-light.woff)
       format("woff");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/pn-reg.woff)
       format("woff");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/pn-bold.woff)
       format("woff");
}

body {
  background: #fff;
  font: 15px "Proxima Nova", sans-serif;
  color: #404040;
}
a {
  color: #1fadc5;
}
a:hover,
a:focus {
  text-decoration: none;
}
.container {
  max-width: 980px;
  padding: 0 30px;
}
#header {
  background: #e6e6e6;
  text-align: center;
  padding: 100px 0 30px;
  margin-bottom: 50px;
}
#header a {
  color: #1fadc5;
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  margin: 25px 0 30px;
}
#header a:hover {
  color: #8fd6e2;
}
#header h1 {
  font-size: 42px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 10px;
}
#header h2 {
  font-size: 22px;
  font-weight: 500;
  margin-top: 0;
}
#header .logo {
  display: inline-block;
  font-family: "icon";
  font-size: 63px;
  color: #fff;
  background-color: #f2174f;
  padding: 6px 19px;
  border-radius: 3px;
  text-indent: 2px;
}
#header .version {
  color: #999;
  font-size: 14px;
  margin: 10px 0 30px;
}
#nav {
  overflow: hidden;
}
#nav * {
  clear: both;
  float: left;
}
#nav h3 {
  font-size: 19px;
  font-weight: 500;
  margin: 6px 0 12px;
  text-transform: uppercase;
}
#nav h5 {
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 5px;
}
#nav section {
  margin-bottom: 20px;
}
#nav a {
  padding: 6px 9px 4px;
  line-height: 18px;
}
#nav .current {
  background: #f2174f;
  border-radius: 2px;
  color: #fff;
}
#content {
  font-size: 18px;
  margin-bottom: 90px;
}
#content hgroup {
  border-bottom: 1px solid #ddd;
}
#content hgroup h1 {
  color: #404040;
  font-size: 45px;
  line-height: 58px;
  margin: 0;
}
#content hgroup h2 {
  color: #777;
  font-size: 29px;
  font-weight: 400;
  line-height: 35px;
  margin: 0;
  margin-bottom: 8px;
}
#content h2 {
  font-size: 36px;
  font-weight: 400;
}
#content h3 {
  font-size: 29px;
  font-weight: 300;
}
#content h4 {
  font-size: 22px;
}
#content p,
#content li {
  line-height: 1.5em;
}
#footer {
  background: #242424;
  padding-top: 35px;
  font-size: 16px;
  text-align: center;
}
#footer a {
  color: #fff;
}
#footer .links a {
  text-transform: uppercase;
  margin: 0 20px;
}
#footer .manifesto {
  color: #777;
  font-size: 19px;
  margin: 50px 0 40px;
}
#footer .manifesto strong {
  color: #fff;
  font-weight: bold;
}
#footer .bottom {
  background: #333;
  margin-top: 25px;
  padding: 16px 0;
  text-align: left;
}
#footer .bottom a {
  margin-right: 16px;
}
#footer .bottom .logo {
  font-size: 16px;
  font-weight: 700;
  padding-left: 13px;
}
#footer .bottom .logo:before {
  content: "";
  background: url(../favicon.png) no-repeat;
  background-size: 100% 100%;
  width: 23px;
  height: 23px;
  position: absolute;
  left: 0;
  top: -2px;
}
#footer .copyright {
  color: #999;
  font-size: 13px;
  margin-right: 16px;
}
#footer .pull-right a {
  color: #999;
  font-size: 13px;
  line-height: 22px;
}
